.main{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

 }
  .container{
width:90%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
background-color: skyblue;
border-radius: 50px;
border-style: solid;

}
.circle-and-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.circle{
width:60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;

border: 3px solid black;
border-radius: 50%;
margin: 10px;

}

#res覺m1{
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url("images.jpg");

}

#res覺m2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images.jpg");
    }
    


#res覺m3{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images.jpg");
    
    
}

#res覺m4{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images.jpg");
    
    

}


