




.header{
    display: block;
    background-color: #FF0;
    height: 60px;
    margin: 10px;
    padding: 0%;
   border-radius: 8px;
}




.acilirmenu{
    
    width:180px;
    height:auto;
}
.acilirmenu ul{
    
    width: 179px;
   margin: 0;
    padding:0;
    list-style-type:none;   
}
.acilirmenu li{
    position: relative;
}
.acilirmenu li ul{
    position:absolute;
    list-style-type:none;
    left:179px;
    width:140px;
    display:none;
    top:0;    
}
.acilirmenu li a{
    margin: 8px;
    height:30px;
    display: block;
    text-decoration: none;
    background-color: #3EA3AD;
    color:#FFF;
    font:500 15px Verdana;
    padding:5px;
    border:1px solid #FFF;
    border-bottom:0; 
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}
.acilirmenu li a:hover{
    background-color:#52BEAA;
    color:#FF0;
}
.acilirmenu li:hover ul{
    display:block;
}