html {
    height: 100%;
  }
  
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: skyblue;
  }


  #button{
    background-color: skyblue;
    color: black;
    height: 40px;
    width: 70px;
    border-radius: 12px;
    
    
    }



    #username{
        width: 120px;
        border-radius: 10px;
        
    }
    
    #password{
        width: 120px;
        border-radius: 10px;
        
    
    }

  
  
  #gırıs{
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: bisque;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px black;
  }
  
  
  
  #gırısform{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  
  
  